// Grid
// -------------------------------------------------------------------
$borderRadius 		: 3px;
$colWidth 			: 70px;
$colMargin 			: 30px;

// Colors
// -------------------------------------------------------------------
$colorPrimary 		: #161621;
$colorSecondary		: #e97c12;
$colorDefatult 		: #161621;
$colorText 			: #fff;
$colorDetail 		: #535756;
$colorSucess 		: #00e129;
$colorAlert 		: #ff9d27;
$colorError 		: #ff5656;

// Fonts Size
// -------------------------------------------------------------------
$fontSizeDefault	: 14px;
$fontSizeSmall  	: 10px;
$fontSizeMedium 	: 12px;
$fontSizeLarge 		: 18px;
$fontSizeXLarge 	: 25px;

// Fonts Family
// -------------------------------------------------------------------
$fontPrimary 		: arial;
$fontSecondary 		: time;
$fontIcon 			: '';