.icon-ruler:before {
	content: "\e900";
}
.icon-stethoscope:before {
	content: "\e901";
}
.icon-list:before {
	content: "\e902";
}
.icon-back:before {
	content: "\e903";
}
.icon-loading:before {
	content: "\e904";
}
.icon-sad:before {
	content: "\e905";
}
.icon-smiling:before {
	content: "\e906";
}