.hamburger {
    background: none;
    border: none;
    padding: 0;

    .line,
    &:before,
    &:after {
        background: $colorDetail;
        border-radius: 2px;
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 20px;
        -webkit-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
    }

    .line {
    }

    &:before,
    &:after {
        content: "";
    }

    &:before {
        margin-top: 6px;
    }

    &:after {
        margin-top: -6px;
    }
}
