.branding {
	display: block;
	width: 100px;
}

.background-one {
	background: $colorPrimary url("assets/images/background-01.png") no-repeat center top;
	background-size: cover;
}

.wrapper {
	height: 100%;
	position: relative;
	width: 100%;

	.hidden & {
		overflow: hidden;
	}

	.navigation {
		bottom: 100%;
		position: absolute;
		width: inherit;
	}
}

.container {
	padding-left: 40px;
	padding-right: 40px;
}
