body {
	position: relative;
	-webkit-transition: transform .5s;
		-ms-transition: transform .5s;
			transition: transform .5s;

	.navigation {
		bottom: 100%;
		position: absolute;
		width: 100%;
	}

	&.active-menu {
		-webkit-transform: translateY(255px);
			-ms-transform: translateY(255px);
				transform: translateY(255px);

		.hamburger {
			&:before,
			&:after,
			.line {
				background: $colorSecondary;
			}
		}
	}
}

.branding {
	display: block;
	width: 100px;
}

.background-one {
	background: $colorPrimary url("assets/images/background-01.png") no-repeat center top;
	background-size: cover;
}

.wrapper {
	height: 100%;
	position: relative;
	width: 100%;

	.hidden & {
		overflow: hidden;
	}
}

.container {
	padding-left: 40px;
	padding-right: 40px;
}
