.info {
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: $colMargin;
}

.result-test-info {
	margin-bottom: 10px;
	text-align: center;

	.icon-smiling {
		margin-bottom: 10px;
	}

	.icon-smiling {
		color: $colorSucess;
		display: inline-block;
		font-size: 50px;
	}
}

.imc {
	display: inline-block;
	font-size: 40px;
	padding: 0 20px;
	position: relative;

	&:before,
	&:after {
		background: $colorDetail;
		content: "";
		height: 1px;
		position: absolute;
		top: 50%;
		width: 100%;
	}

	&:before {
		left: 100%;
	}

	&:after {
		right: 100%;
	}
}